.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  width: 50%;
}

.h2 {
  font-size: 32px;
}

.btn {
  margin-top: 15px;
}

.btn:hover {
  color: red;
}
