.list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 3px;
  margin-top: 50px;
}

.btn {
  color: white;
}

.position {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
}

.button {
  background-color: #af059654;
  color: white;
  padding: 12px;
  width: 330px;
  margin-left: 20px;
  margin-top: 40px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  font-family: 'Lato', sans-serif;
}

.lists {
  background-color: rgba(35, 1, 36, 0.43);
  box-shadow: 5px 10px #aeaeae4e;
  display: flex;
  margin: 20px;
}

.lists:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in;
}
